<ion-header [translucent]="true" no-border>
    <ion-toolbar color="dark">
        <ion-title>
            Titular i entradeta
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <app-articles [articles]="articles"></app-articles>

    <ion-infinite-scroll threshold="150px" position="bottom" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="circular" loadingText="Carregant articles...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>