<app-header title="alert"></app-header>

<ion-content class="ion-padding">


    <ion-button (click)="onClick()" expand="block">
        Simple
    </ion-button>

    <ion-button (click)="onClickM()" expand="block">
        Multiple
    </ion-button>

    <ion-button (click)="onClickP()" expand="block">
        Prompt
    </ion-button>

    <ion-button (click)="onClickR()" expand="block">
        Radio
    </ion-button>

    <ion-button (click)="onClickC()" expand="block">
        Checklist
    </ion-button>

</ion-content>